<form [formGroup]="form" (ngSubmit)="onSubmit()" class="slds-form_stacked slds-p-around_medium">
  <div class="slds-form-element">
    <label class="slds-form-element__label">Title</label>
    <div class="slds-form-element__control">
      <input formControlName="title" class="slds-input" />
    </div>
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="slds-text-color_error">Title is required</div>
  </div>

  <div class="slds-form-element">
    <label class="slds-form-element__label">Description</label>
    <div class="slds-form-element__control">
      <textarea formControlName="description" class="slds-textarea"></textarea>
    </div>
  </div>

  <div class="slds-form-element slds-m-top_small slds-grid slds-grid_align-end">
    <div>
      <button class="slds-button slds-button_neutral" type="button" (click)="onCancel()">Cancel</button>
      <button class="slds-button slds-button_brand" type="submit" [disabled]="form.invalid">{{ editingId ? 'Update' : 'Add' }}</button>
    </div>
  </div>
</form>
